.Question {
  margin: 2px 2px;
  padding: 5px;
}

.Question-radio-button {
  margin: 0px 7px;
}

.Question-disagree {
  margin: 0px 10px 0px 0px;
}

.Question-agree {
  margin: 0px 0px 0px 10px;
}